<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/JavaScript.js"></script>
</head>
<body>
    <div>
        <button id="Add" class="btn btn-outline-primary">Add City</button>
        <input id="cityName" required />
    </div>
    <div>
        <button id="Cities" class="btn btn-outline-secondary">Print Cities</button>
    </div>
    <div>
        <div id="myDiv"></div>
    </div>
</body>
</html>